<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-title>Pick Up Arriving</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="parentMap">
    <agm-map [latitude]="serviceProvider.originlatitude" [longitude]="serviceProvider.originlongititude" [zoom]="zoom"
      [disableDefaultUI]="false" [zoomControl]="false" [fullscreenControl]="true">
      <agm-direction *ngIf="origin && destination && origin.lat && destination.lat" [origin]="origin"
        [destination]="destination">
      </agm-direction>
    </agm-map>
    <div class="distance">Total distance : {{serviceProvider.tripDistance}} km </div>
  </div>

  <ion-fab vertical="center" horizontal="end" slot="fixed" class="fab_icon">
    <ion-fab-button>
      <ion-icon name="locate" style="font-size: 35px;"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-list>
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/image/images.jpg" />
      </ion-avatar>
      <ion-label>
        <h2 *ngIf="driverInfo && driverInfo.email">{{ driverInfo.email }}</h2>
        <h2 *ngIf="!driverInfo || !driverInfo.email">No Driver Email Available</h2>
        <div class="rating">
          <ion-icon name="star" *ngFor="let star of stars(4)" class="filled"></ion-icon>
          <ion-icon name="star-outline" *ngFor="let star of stars(1)" class="empty"></ion-icon>
        </div>
        <p>Toyota prius 007,G5 7867, Mini white</p>
      </ion-label>
      <ion-label>
        <ion-fab vertical="top" horizontal="end" slot="fixed">
          <ion-button color="secondary" fill="clear"> Scheduled</ion-button>
        </ion-fab>

        <ion-fab vertical="bottom" horizontal="end" slot="fixed">
          <ion-icon name="call" expand="icon-only"></ion-icon>
        </ion-fab>
      </ion-label>
    </ion-item>
    <ion-item padding-bottom>
      <ion-icon name="pin" expand="icon-only" slot="start"></ion-icon>
      <ion-label>7896 Traffic way</ion-label>
    </ion-item>

    <ion-item class="item_Spec">
      <ion-label text-center>
        <ion-icon name="logo-usd" expand="icon-only" class="icon_Spec"></ion-icon>
        <p class="dark_color">Cash</p>
        <p class="dark_small">Change Mode</p>
      </ion-label>
      <div class="vertical_line"></div>
      <ion-label text-center>
        <ion-icon name="share" expand="icon-only" class="icon_Spec"></ion-icon>
        <p class="dark_color">Status</p>
        <p class="dark_small">Share with freinds</p>
      </ion-label>
      <div class="vertical_line"></div>
      <ion-label text-center>
        <ion-icon name="man" expand="icon-only" class="icon_Spec"></ion-icon>
        <p class="dark_color">SOS</p>
        <p class="dark_small">Emergency</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer padding>
  <ion-button expand="full" type="submit" class="submit_button">Cancel Booking</ion-button>
</ion-footer>