<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button  color="light"></ion-back-button>
    </ion-buttons>
    <ion-title>Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<!--  <div class="buttons_center">-->
<!--    <ion-button slot="icon-only" fill="outline" class="button_outline button-width" routerLink="/loginPage">-->
<!--      <ion-icon name="logo-facebook"></ion-icon>-->
<!--    </ion-button>-->
<!--    <ion-button slot="icon-only" fill="outline" class="button_solid button-width" danger >-->
<!--      <ion-icon name="logo-googleplus" ></ion-icon>-->
<!--    </ion-button>-->
<!--  </div>-->
<!--  <ion-grid>-->
<!--    <ion-row>-->
<!--      <ion-col size="12" class="row_div">-->
<!--        <div class="horizontal_line"></div>-->
<!--        <div class="label_Class">-->
<!--          <p class="img_div">OR</p>-->
<!--        </div>-->
<!--      </ion-col>-->
<!--    </ion-row>-->
<!--  </ion-grid>-->

  <div style="margin-top:20px">
    <ion-item lines="none">
      <img src="../../assets/image/yuppylogo.png" style="width: 50%; margin-left: auto; margin-right: auto">
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="primary">Correo electrónico</ion-label>
      <ion-input type="email" [(ngModel)]="cabLogin.email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="primary">Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="cabLogin.password"></ion-input>
    </ion-item>
  </div>
  <ion-button expand="full" type="submit" [disabled]="disabled" class="submit_button" padding-vertical (click)="login()">Ingresar
    <span *ngIf="spinner">
      <ion-spinner name="lines"></ion-spinner>
    </span>
  </ion-button>
  <ion-button margin-top color="medium" fill="clear" type="submit" class="forgot_button" routerLink="/forgotpassword">Olvidó su contraseña?</ion-button>
</ion-content>
