<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-title>Costo Estimado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="first_div">
    <ion-row>
      <ion-col size="12" no-padding>
          <h2 class="h2_class">${{totalFare}} - ${{1.05*totalFare | number : '1.2-2'}}</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" no-padding>
        <p no-margin class="h2_class" text-uppercase>Tiempo Estimado: 12 min</p>
      </ion-col>
    </ion-row>
  </div>
  <ion-card class="map_card">
    <ion-item>
      <div slot="start">
        <ion-label>
          <ion-icon name="arrow-dropdown-circle" class="icon_drop"></ion-icon>
          <div class="virtical_dash" slot="start"></div>
          <ion-icon name="pin" class="icon_pin"></ion-icon>
        </ion-label>
      </div>
      <ion-label>
        <p class="horizontal_line">{{serviceProvider.showpickup}} </p>
        <p>{{serviceProvider.showdestination}}</p>
      </ion-label>
    </ion-item>
  </ion-card>

  <ion-card class="card_style">
    <ion-list>
      <ion-item>
        <ion-avatar slot="start">
          <ion-img src={{serviceProvider.path}} class="footer_image"></ion-img>
        </ion-avatar>
        <ion-label>
          <p class="footer_para">{{serviceProvider.carname }}</p>
          <p class="footer_para"> Toyota Prious</p>
        </ion-label>
      </ion-item>
    </ion-list>
    <ion-item class="item_spec">
      <ion-label text-center>
        <ion-icon name="logo-usd" expand="icon-only" class="icon_Spec"></ion-icon>
        <p class="dark_color">Efectivo</p>
        <p class="dark_small">Tipo de Pago</p>
      </ion-label>
      <div class="vertical_line"></div>
      <ion-label text-center>
        <ion-icon name="share" expand="icon-only" class="icon_Spec"></ion-icon>
        <p class="dark_color">Status</p>
        <p class="dark_small">Share with freinds</p>
      </ion-label>
      <div class="vertical_line"></div>
      <ion-label text-center>
        <ion-icon name="man" expand="icon-only" class="icon_Spec"></ion-icon>
        <p class="dark_color">SOS</p>
        <p class="dark_small">Emergency</p>
      </ion-label>
    </ion-item>
  </ion-card>

</ion-content>
<ion-footer>
  <p text-center class="footer_para">Note: esta es una estimacion de tu viaje , el costo podria cambiar segun el desarrollo.</p>
</ion-footer>