<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-title> Código de promoción</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list padding-top>
    <ion-item class="dafault_item">
      <ion-label position="stacked">Ingrese su código aquí</ion-label>
      <ion-input type="text"></ion-input>
      <ion-button fill="clear" slot="end">Aceptar</ion-button>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-radio-group>
      <ion-list-header>
        <ion-label>Selecione un método de pago</ion-label>
      </ion-list-header>

      <ion-card>
        <ion-item>
          <ion-thumbnail slot="start">
            <ion-img src="assets/image/download.png"></ion-img>
          </ion-thumbnail>
          <ion-label>Paypal</ion-label>
          <ion-radio slot="end" value="biff" checked></ion-radio>
        </ion-item>
      </ion-card>

      <ion-card>
        <ion-item>
          <ion-thumbnail slot="start">
            <ion-img src="assets/image/credit-card.png"></ion-img>
          </ion-thumbnail>
          <ion-label>Tarjeta de crédito o débito</ion-label>
          <ion-radio slot="end" value="griff"></ion-radio>
        </ion-item>
      </ion-card>

      <ion-card>
        <ion-item>
          <ion-thumbnail slot="start">
            <ion-img src="assets/image/gold.png"></ion-img>
          </ion-thumbnail>
          <ion-label>Yuppy Coins: $50.00</ion-label>
          <ion-radio slot="end" value="buford"></ion-radio>
        </ion-item>
      </ion-card>
    </ion-radio-group>
  </ion-list>
</ion-content>
<ion-footer padding>
  <ion-button expand="block" type="submit" class="submit_button" (click)="submit()">Aceptar</ion-button>
</ion-footer>
