

ion-card{
  --background:url(../../assets/image/card.png) no-repeat;
    margin: 0 !important;
    height: 240px;
    border-radius: 8px;
    width: 100%;
    background-size: cover;
  
}
ion-item{
  --border-color: black;
}