

ion-item.dafault_item {
  --inner-border-width: 0 0 0px 0;
  font-size: 14px;
  --min-height: 26px !important;
}
ion-item {
  --inner-border-width: 0 0 0px 0;
}
.virtical_dash {
  height: 22px !important;
  width: 74%;
  border-style: dashed;
  display: flex;
  border-left: dashed 1px;
  border-right: none;
  border-top: none;
  border-bottom: none;
  margin-left: 8px;
}
ion-label {
  margin: 3px 3px 3px 0px !important;
}
.icon_drop {
  font-size: 18px;
  color: green;
}
.icon_pin {
  font-size: 18px;
  color: orange;
}
.car_icon {
  position: absolute;
  right: 4%;
  top: 20%;
}
ion-thumbnail {
  --size: 40px !important;
  height: 22px !important;
  margin: 0px 8px 0px 0 !important;
}
ion-text {
  font-size: 14px;
}
ion-card {
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;
  border: none;
}
ion-content {
  --background: #e8e8e8;
}
agm-map {
  height: 200px;
}

.content {
  display: flex;
  justify-content: space-between;
  background: white;
}
