<ion-content padding id="myMenu">
  <div class="ion_Content">
    <div class="image_set">
      <ion-img src="assets/image/yuppylogo.png" class="card_img"></ion-img>
    </div>

    <ion-card class="card_content">
   
      <ion-card-title class="title_center">GO</ion-card-title>
      <ion-card-subtitle text-center>En Yuppy todos somos socios!!</ion-card-subtitle>
      <ion-card-content class="button_row">
        <div justify-content-space-between>
          <ion-button slot="start" fill="outline" class="button_outline button-width" routerLink="/loginPage">Ingresar</ion-button>
          <ion-button slot="end" fill="solid" class="button_outline button-width"  routerLink="/register">Registrarse
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>