
 
 .ion_Content{
    background: url('../../assets/image/fondo.jpg') no-repeat;
    background-size: cover !important;
    background-position: center !important;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
} 

.card_img{
 width: 200px;
    padding: 20px 0px 0px 0px;
}
.image_set{
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    top: 0;


}
.title_center{
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;
    color: orange;
    letter-spacing: 1px;
}
 
.button_solid{
--background: orange !important;
--background-activated: orange;
}

 .sc-ion-buttons-md-s ion-button{
  --margin-start: 3px;
    margin-left: 2px;
    --margin-end: 3px;
    margin-right: 2px;
    --padding-start: 48px;
    --padding-end: 48px;
    --height: 2.4rem;
    --box-shadow: none;
    text-transform: capitalize;
    font-size: 12px;
    font-weight: 500;
    
 }
 .button-width{
    width: calc(50% - 8px);
 }
