<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-title>Pedido en Progreso</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="map_card">
    <ion-item>
      <div slot="start">
        <ion-label>
          <ion-icon name="arrow-dropdown-circle" class="icon_drop"></ion-icon>
          <div class="virtical_dash" slot="start"></div>
          <ion-icon name="pin" class="icon_pin"></ion-icon>
        </ion-label>
      </div>
      <ion-label>
        <p class="horizontal_line">{{serviceProvider.showpickup}}</p>
        <p>{{serviceProvider.showdestination}}</p>
      </ion-label>
    </ion-item>
  </ion-card>

  <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false"
    (mapClick)="mapClicked($event)" [fullscreenControl]="true" [fullscreenControlOptions]="screenOptions">
    <agm-direction [origin]="origin" [destination]="destination" [markerOptions]="markerOptions">
    </agm-direction>
  </agm-map>

</ion-content>

<ion-footer>
  <div class="distance">Total distancia: {{serviceProvider.tripDistance}} km </div>

  <ion-card>
    <ion-item class="row-border" *ngIf="paySelected === 1">
      <ion-icon name="logo-usd" slot="start" expand="icon-only" class="icon-margin-right icon_color">
      </ion-icon>
      <p>Yuppy Coins</p>
      <ion-button fill="clear" slot="end" routerLink="/changepayment" class="medium">Cambiar</ion-button>
    </ion-item>
    <ion-item class="row-border" *ngIf="paySelected === 2">
      <ion-icon name="ios-cash" slot="start" expand="icon-only" class="icon-margin-right icon_color">
      </ion-icon>
      <p>Efectivo</p>
      <ion-button fill="clear" slot="end" routerLink="/changepayment" class="medium">Cambiar</ion-button>
    </ion-item>
    <ion-item class="row-border" *ngIf="paySelected === 3">
      <ion-icon name="card" slot="start" expand="icon-only" class="icon-margin-right icon_color">
      </ion-icon>
      <p>Tarjeta</p>
      <ion-button fill="clear" slot="end" routerLink="/changepayment" class="medium">Cambiar</ion-button>
    </ion-item>
    <ion-item class="row-border" *ngIf="paySelected === 4">
      <img style="width: 12%" src="../../assets/img_icon/paypal_logo.png">
      <p>Paypal</p>
      <ion-button fill="clear" slot="end" routerLink="/changepayment" class="medium">Cambiar</ion-button>
    </ion-item>

    <ion-grid no-padding>
      <ion-row class="row-border">
        <ion-col size="6" class="col_line" no-padding>
          <ion-item routerLink="/fareestimate" padding-left>
            <ion-icon name="calculator" slot="start" expand="icon-only" no-margin class="icon-margin-right icon_color">
            </ion-icon>
            <ion-button fill="clear" class="medium">Costo Estimado </ion-button>
          </ion-item>
        </ion-col>

        <ion-col size="6" no-padding padding-left>
          <ion-item routerLink="/promo">
            <ion-icon name="male" slot="start" expand="icon-only" no-margin class="icon-margin-right icon_color">
            </ion-icon>
            <ion-button fill="clear" class="medium">Codigo de Promocion</ion-button>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-button expand="block" type="submit" class="submit_button" (click)="alertOnSubmit()">Confirmar Pedido
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-footer>
