

agm-map {
  height: 100%;
}



ion-searchbar{
  top: 5%;
    position: absolute;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.41), 0 1px 1px 4px rgba(0, 0, 0, 0.2), 0 7px 10px 0 rgba(0, 0, 0, 0.12) !important !important;

}
ion-card{
  position: absolute;
  top: 12%;
    width: calc(100% - 5%);
}
.icon_header{
  font-size: 32px;
    margin-left: 9px;

}