
<ion-header style="background: orange">
  <ion-toolbar>
    <ion-buttons slot="start">
       <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Confirmacion</ion-title>
  </ion-toolbar>

   <progress-bar [progress]="progress" [color-degraded]="{'0': '#00cbcb',  '15': '#f9c3d3', '25': '#fd8c8e'}">
  </progress-bar>
  <ion-row>
    <ion-col size="12">
      <div text-center>
        <img src="assets/image/yuppylogo.png">
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <div text-center>
        <p class="text_color" no-margin> Solicitar en curso </p>
      </div>
    </ion-col>
  </ion-row>
</ion-header>
<ion-content class="content-bg">
   
  <ion-card class="map_card">
    <ion-item>
      <div slot="start">
        <ion-label>
          <ion-icon name="arrow-dropdown-circle" class="icon_drop"></ion-icon>
          <div class="virtical_dash" slot="start"></div>
          <ion-icon name="pin" class="icon_pin"></ion-icon>
        </ion-label>
      </div>
      <ion-label>
        <p class="horizontal_line">{{serviceProvider.showpickup}}</p>
        <p>{{serviceProvider.showdestination}}</p>
      </ion-label>
    </ion-item>
  </ion-card>
</ion-content>
<ion-footer padding>
  <ion-button expand="full" type="submit" class="submit_button">Cancelar Viaje</ion-button>
</ion-footer>