

.img_content{
    --background: var(--ion-color-all);
}
.profile_stub{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.profile_pic{
    width: 100px;
    height: 100px;
}