<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-title> Cambio de Tipo Pago</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="first_div">
    <ion-row>
      <ion-col size="12" no-padding>
        <h2 class="h2_class">${{totalFare}} - ${{1.05*totalFare | number : '1.2-2'}}</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" no-padding>
        <p no-margin class="h2_class" text-uppercase>Tiempo de viaje: 12 min</p>
      </ion-col>
    </ion-row>
  </div>


  <ion-list>
    <ion-radio-group>
      <ion-list-header>
        <ion-label>Seleccione el Metodo de Pago</ion-label>
      </ion-list-header>

      <ion-card>
        <ion-item>
          <ion-thumbnail slot="start">
            <ion-img src="assets/image/download.png"></ion-img>
          </ion-thumbnail>
          <ion-label>Paypal</ion-label>
          <ion-radio slot="end" value="biff" checked></ion-radio>
        </ion-item>
      </ion-card>

      <ion-card>
        <ion-item>
          <ion-thumbnail slot="start">
            <ion-img src="assets/image/credit-card.png"></ion-img>
          </ion-thumbnail>
          <ion-label>Tarjeta de crédito o débito</ion-label>
          <ion-radio slot="end" value="griff"></ion-radio>
        </ion-item>
      </ion-card>

      <ion-card>
        <ion-item>
          <ion-thumbnail slot="start">
            <ion-img src="assets/image/gold.png"></ion-img>
          </ion-thumbnail>
          <ion-label>Yuppy Coins: $50.00</ion-label>
          <ion-radio slot="end" value="buford"></ion-radio>
        </ion-item>
      </ion-card>
    </ion-radio-group>
  </ion-list>
</ion-content>
<ion-footer padding>
  <ion-button expand="block" type="submit" class="submit_button" (click)="submit()">Aceptar</ion-button>
</ion-footer>
