<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-title>Reset Password</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <ion-grid no-padding>
    <ion-row>
      <ion-col size="12">
        <div class="forgot_icon">
          <ion-icon name="sad" slot="icon-only"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <p text-center class="paragraph_size">
          No se preocupe, solo ingrese su ID de correo electrónico a continuación. Y le enviaremos la instrucción de restablecimiento de contraseña.</p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-item class="item_input">
    <ion-label position="stacked" padding-bottom color="medium">Telefono o Email</ion-label>
    <ion-input type="email"></ion-input>
  </ion-item>
</ion-content>
<ion-footer padding>
  <ion-button expand="block" type="submit" class="submit_button" routerLink="/resetPassword">Reset Password</ion-button>
</ion-footer>