
<ion-content>
    <ion-searchbar class="background-transparent" [(ngModel)]="searchItem" [showCancelButton]="true"
      (ionInput)="searcOnChnage()" (ionCancel)="dismiss()" selected="true" autofocus></ion-searchbar>
    <ion-card *ngIf="autocompleteItems && autocompleteItems.length">
      <ion-list style="box-shadow: 0 0px 6px #bdbdbd!important;">
        <ion-item *ngFor="let item of autocompleteItems" class="item-requset-ride" tappable (click)="chooseItem(item)">
          <ion-icon ios="ios-pin" md="md-pin" slot="start" style="margin-top:20px; font-size:1.3em"></ion-icon>
          <ion-label>
            <p>{{item}}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card>
    <ion-card padding>
      <ion-text text-center>
        Ingrese una dirección en el buscador
      </ion-text>
    </ion-card>
    <ion-button expand="full" fill="clear" color="medium" (click)="dismiss()">Cerrar</ion-button>
  
  </ion-content>
