
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';


.forgot_button{
    justify-content: center;
    align-items: center;
    display: flex;
}
ion-toolbar, ion-button.submit_button{
  --background:  var(--ion-color-all);
  --color:white;
  --background-activated:var(--ion-color-all);
}
ion-item.item_input{
      --padding-start: 0 !important;
      --inner-padding-end: 0 !important;
}
.forgot_icon{
    justify-content: center;
    align-items: center;
    display: flex;
}
.paragraph_size{
    font-size: 14px;
}
.buttons_center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.sc-ion-buttons-md-s ion-button {
    --margin-start: 5px;
    --margin-end: 5px;
    margin-left: 0px;
    margin-right: 0px;
    --padding-start: 5.5em;
    --padding-end: 5.5em;
    --height: 35px;
    --box-shadow: none;
    font-size: 12px;
    font-weight: 500;
    padding-top: 1.5em;
    padding-bottom: 3em;
}

ion-item.horizontalLine{
  --inner-border-width: 2px 0 0 0;
  --min-height: 5px !important;
  --padding-start: 0 !important;
}

.list-md:not(.list-inset):not(.list-md-lines-none) .item:last-child {
    --inner-border-width: 0;
    --border-width: 0 0 0px 0;
}
.myClass{
    color:var( --ion-color-medium-tint);
}
.yourClass{
    color: var( --ion-color-primary-tint);
}
.backTransparent{
    --background: transparent!important;
}