

.list-md:not(.list-inset):not(.list-md-lines-none) .item:last-child {
      --inner-border-width: 0 !important;
      --border-width: 0 0 1px 0 !important;
  }
  ion-icon.icon_Spec{
    font-size: 25px;
      color: var(--ion-color-all);
  }
  .vertical_line{
      width: 1px;
      background: gray;
      height: 56%;
      margin-right: 12px;
    }
  .dark_color{
    color:var( --ion-color-dark)
  }
  .dark_small{
    font-size:10px;
  }
  ion-content{
    --background: #3e272363;
  }
  .div_class{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100% !important;
  }
  .button_Pos{
    display: flex;
    justify-content: flex-end;
  }
  .card_style{
      width: 100%;
      background: white;
  }
