<ion-content style="background:transparent">
    <div class="div_class">
        <ion-card class="card_style">
            <ion-list>
                <ion-item>
                    <ion-avatar slot="start">
                        <ion-img [src]="serviceProvider.path" class="footer_image"></ion-img>
                    </ion-avatar>
                    <ion-label>
                        <p>{{serviceProvider.carname }}</p>
                        <p> Toyota Prious</p>
                    </ion-label>
                    <ion-label>
                        <h5> ${{totalFare}} - ${{1.05*totalFare | number : '1.2-2'}}</h5>
                    </ion-label>
                </ion-item>
            </ion-list>
            <ion-list>
              <ion-radio-group [(ngModel)]="valueSelected">
                <ion-item class="item_Spec">
                    <ion-icon name="logo-usd" expand="icon-only" class="icon_Spec"></ion-icon>
                    <p class="dark_color" style="margin-left: 2rem">Yuppy Coins</p>
                    <ion-label text-right>
                        <p class="dark_small">Saldo</p>
                        <p class="dark_small">$50.00</p>
                    </ion-label>
                    <ion-radio slot="start" [value]="1" checked></ion-radio>
                </ion-item>
                <ion-item>

                        <ion-icon name="ios-cash" expand="icon-only" class="icon_Spec"></ion-icon>
                        <p class="dark_color" style="margin-left: 2rem">Efectivo</p>
                        <p class="dark_small"></p>
                      <ion-radio slot="start" [value]="2"></ion-radio>

                </ion-item>
                <ion-item>

                        <ion-icon name="card" expand="icon-only" class="icon_Spec"></ion-icon>
                        <p class="dark_color" style="margin-left: 2rem">Tarjeta</p>
                        <p class="dark_small"></p>
                      <ion-radio slot="start" [value]="3"></ion-radio>

                </ion-item>
                <ion-item>

                        <img style="width: 12%" src="../../assets/img_icon/paypal_logo.png">
                        <p class="dark_color" style="margin-left: 2rem">Paypal</p>
                        <p class="dark_small"></p>
                      <ion-radio slot="start" [value]="4"></ion-radio>

                </ion-item>
              </ion-radio-group>
            </ion-list>
            <div class="button_Pos">
                <ion-button fill="clear" (click)="closeModal()" slot="end" color="medium">Cancelar</ion-button>
                <ion-button fill="clear" (click)="routeModal()" slot="end" color="dark">Solicitar Viaje</ion-button>
            </div>
        </ion-card>
    </div>
</ion-content>
