<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-title>Registrarse</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  padding>

  <ion-item lines="none">
    <img src="../../assets/image/yuppylogo.png" style="width: 50%; margin-left: auto; margin-right: auto">
  </ion-item>
  <ion-grid padding-top>
    <ion-row>
      <ion-col size="6">
        <ion-item class="item_input">
          <ion-label position="floating" padding-bottom color="primary">Primer Nombre</ion-label>
          <ion-input type="text" [(ngModel)]="user.first_name"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item class="item_input">
          <ion-label position="floating" padding-bottom color="primary">Apellido</ion-label>
          <ion-input type="text" [(ngModel)]="user.last_name"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-item class="item_input">
          <ion-label position="floating" padding-bottom color="primary">
            Correo eléctronico</ion-label>
          <ion-input type="email" [(ngModel)]="user.email"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="4">
        <ion-item>
          <ion-label position="floating" padding-bottom color="primary">Area</ion-label>
          <ion-select [interfaceOptions]="customAlertOptions" interface="alert" placeholder="IN+91" okText="Okay!"
            [(ngModel)]="user.area">
            <ion-select-option *ngFor="let item of data" [value]="item.dial_code">{{ item.code }}{{ item.dial_code }}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size="8">
        <ion-item class="item_input">
          <ion-label position="floating" padding-bottom color="primary">Teléfono</ion-label>
          <ion-input type="number" [(ngModel)]="user.phone"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-item class="item_input">
          <ion-label position="floating" padding-bottom color="primary">Contraseña</ion-label>
          <ion-input type="password" [(ngModel)]="user.password"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer padding>
  <ion-button expand="block" type="submit" [disabled]="disabled" class="submit_button" (click)="registerUser()">Registrarse
    <span *ngIf="spinner">
      <ion-spinner name="lines"></ion-spinner>
    </span>
  </ion-button>
</ion-footer>
